<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>hello-servlet2.5</display-name>


	<servlet>
		<servlet-name>FindAllUserServlet</servlet-name>
		<servlet-class>com.hello.servlet2_5.web.servlet.FindAllUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindUserByIdServlet</servlet-name>
		<servlet-class>com.hello.servlet2_5.web.servlet.FindUserByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistUserServlet</servlet-name>
		<servlet-class>com.hello.servlet2_5.web.servlet.RegistUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginUserServlet</servlet-name>
		<servlet-class>com.hello.servlet2_5.web.servlet.LoginUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutUserServlet</servlet-name>
		<servlet-class>com.hello.servlet2_5.web.servlet.LogoutUserServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>FindAllUserServlet</servlet-name>
		<url-pattern>/FindAllUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindUserByIdServlet</servlet-name>
		<url-pattern>/FindUserByIdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistUserServlet</servlet-name>
		<url-pattern>/RegistUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginUserServlet</servlet-name>
		<url-pattern>/LoginUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutUserServlet</servlet-name>
		<url-pattern>/LogoutUserServlet</url-pattern>
	</servlet-mapping>

</web-app>
