使用 pip 安装

使用 pip 工具：

python -m pip install --user numpy scipy matplotlib ipython jupyter pandas sympy nose
--user 选项可以设置只安装在当前的用户下，而不是写入到系统目录。

pip install numpy pandas scipy matplotlib ipython jupyter sympy nose sklearn

pip install numpy
pip install pandas


pip install -i https://pypi.tuna.tsinghua.edu.cn/simple numpy pandas scipy matplotlib ipython jupyter sympy nose sklearn